# Name: Goutte_pendante
# Author: Adrian Daerr
# Version: 1.0
# Date: 2010/09/28
# Requires: ImageJ 1.43u
# Generate the jar file using: "jar cvfM Goutte_pendante.jar *"

Plugins>Goutte pendante, "Goutte pendante...", Goutte_pendante("run")
Plugins>Goutte pendante, "About Goutte pendante...", Goutte_pendante("about")
Help>About Plugins, "Goutte_pendante...", Goutte_pendante("about")
