# Name: Goutte_pendante
# Author: Adrian Daerr
# Version: 1.1
# Date: 2013/04/24
# Requires: ImageJ 1.43u
# Generate the jar file using: "jar cvfM Goutte_pendante.jar *"

Plugins>drop_analysis, "Pendant drop...", Goutte_pendante("run")
Plugins>drop_analysis, "About Pendant drop...", Goutte_pendante("about")
Help>About Plugins, "Pendant_drop...", Goutte_pendante("about")
